/* @import url('../fonts/Wotfard/wotfard.css'); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll-bar-y {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Chrome, Edge, and Safari */
.custom-scroll-bar-y::-webkit-scrollbar {
  width: 100%;
  height: 6px;
}

.custom-scroll-bar-y::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.custom-scroll-bar-y::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 1px;
}

.margin-wrapper {
  margin: 0 20px;
}

@media screen and (min-width: 400px) {
  .margin-wrapper {
    margin: 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .margin-wrapper {
    margin: 0 100px;
  }
}

@media screen and (min-width: 1000px) {
  .margin-wrapper {
    margin: 0 200px;
  }
}

@media screen and (min-width: 1500px) {
  .margin-wrapper {
    margin: 0 300px;
  }
}

@media screen and (min-width: 2000px) {
  .margin-wrapper {
    margin: 0 500px;
  }
}

/* Theme toggle button style */
.themeToggle {
  --size: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: #162447;
  transition: all 1000ms;
}

.themeToggle:checked {
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);
  transform: scale(0.75);
  color: #ffaa00;
  box-shadow: inset 0 0 0 var(--size),
    calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
    var(--offset-orthogonal) 0 0 var(--ray-size),
    0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
    0 var(--offset-orthogonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
      var(--ray-size),
    var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
    var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}
